<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTIONAR CITAS</title>
    <link rel="stylesheet" href="/public/citas.css">
</head>

<body>
    <div class="intranet-container">
        <header>
            <div class="hospital-info">
                <img src="/Img/hospital.png" alt="logo Hospital">
                <div class="hospital-text">
                    <h1 class="Titulo2">Hospital Gosling</h1>
                    <h1 class="Titulo3">ciudad y esperanza</h1>
                </div>
            </div>
            <button class="menu-button">Cerrar Sesión</button>
        </header>
        <main>
            <div class="blanco"><p>w</p></div>
            <div class="titulo-container">
                <h2 class="titulo">GESTIÓN DE CITAS</h2>
            </div>
            <!-- Subtítulo y texto -->
    <div class="subtitulo-container">
        <h3 class="subtitulo">LISTA DE CITAS PENDIENTES</h3>
        <p class="descripcion">A continuación, la lista de citas pendientes.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>PACIENTE</th>
                <th>DÍA</th>
                <th>HORA</th>
                <th>ESPECIALIDAD</th>
                <th>DETALLE</th>
                <th>HISTORIA CLÍNICA</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ejemplo de fila con botón "Ingresar" en la columna "Historia Clínica" -->
            <tr>
                <td>Juan Pérez</td>
                <td>2023-12-01</td>
                <td>10:00 AM</td>
                <td>Cardiología</td>
                <td>Detalles de la cita</td>
                <td>
                    <button class="ingresar-button">Ingresar</button>
                </td>
            </tr>
            <!-- Puedes agregar más filas según tus necesidades -->
        </tbody>
    </table>
    <div class="blanco2"><p>w</p></div>
        </main>
        <footer>
            Copyright © Hospital Gosling
        </footer>
    </div>
</body>

</html>