form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 600px;
    display: grid;
    grid-template-columns: 1fr; /* Cambiado a una sola columna */
    grid-gap: 16px;
}

.navbar {
    background-color: #8DC5AB; /* Color verdoso */
    padding: 15px;
}

.navbar-brand {
    margin-right: 50px; /* Espaciado a la derecha para el logo */
}

.navbar-toggler {
    background-color: white; /* Color del icono del menú */
}

.navbar-nav {
    margin-left: auto; /* Mueve los elementos a la derecha */
}

.navbar-light .navbar-nav .nav-link {
    color: white; /* Color del texto del menú */
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    min-height: 500px; /* Establece la altura mínima del contenedor principal */
}

.table-container {
    max-height: 300px; /* Establece la altura máxima de la tabla */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */}


 